<html>
<head>
	<meta charset="utf-8">
	<title>File Huffman Encoder & Decoder By WZH</title>
	<link href="http://10.131.255.74/static/css/bootstrap.min.css" rel="stylesheet">
</head>
	<body>
		<div class="container">
			<h1>Huffman Encode Tools Online</h1>
			<form action="compress" method="POST" accept-charset="utf-8" id="userform">
				<div class="form-group">
					<textarea class="form-control" rows=18 name="content" id="content" form="userform" placeholder="input your content"></textarea>
					
				</div>
			<input class="btn btn-primary" type="submit" value="Encode"/>
			</form>
		</div>
	</body>
</html>
